doctype html
html(ng-app="chefExpressApp")
	head
		//base(href="/")
		title ChefExpress
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="components/style.css")
		link(rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css")
		<!--########################## ANGULAR CORE ###########################-->
		script(defer src="bower_components/angular/angular.js")
		script(defer src="bower_components/angular-route/angular-route.min.js")
		<!--###################################################################-->
		
		<!--########################## APP MODULES ############################-->
		script(defer src="app/app.js")
		script(defer src="app/inicio/inicio.js")
		script(defer src="app/ingredientes/ingredientes.js")
		script(defer src="app/recetas/recetas.js")
		script(defer src="app/login/login.js")
		<!--################################################################## -->
		
		<!--######################## APP COMPONENTS ###########################-->
		script(defer src="components/auth/auth.service.js")
		script(defer src="components/navbar/navbar.js")
		script(defer src="components/navbar/navbar.service.js")
		script(defer src="components/utils/utils.js")
		<!--################################################################## -->

		<!--######################## APP CONTROLLERS ##########################-->
		script(defer src="app/inicio/inicio.controller.js")
		script(defer src="app/ingredientes/ingredientes.controller.js")
		script(defer src="app/recetas/recetas.controller.js")
		script(defer src="app/login/login.controller.js")
		<!--###################################################################-->
		
		<!--######################### APP FACTORIES ###########################-->
		script(defer src="app/ingredientes/ingredientes.factory.js")
		script(defer src="app/recetas/recetas.factory.js")
		script(defer serc="app/login/login.factory.js")
		<!--###################################################################-->
		
		<!--######################### APP DIRECTIVES ##########################-->
		script(defer src="app/ingredientes/ingredientes.directive.js")
		script(defer src="app/inicio/inicio.directive.js")
		<!--###################################################################-->
		
		<!--######################### ANGULAR EXTRAS ##########################-->
		script(defer src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(defer src="components/pagination/dirPagination.js")
		script(defer src="bower_components/angular-loading-bar/build/loading-bar.min.js")
		script(defer src="bower_components/angular-strap/dist/angular-strap.min.js")
		script(defer src="bower_components/angular-strap/dist/angular-strap.tpl.min.js")
		<!--###################################################################-->
	body
		div(id="navbar-wrapper" ng-controller="navbarAppCtrl")
			navbar(ng-if="isLogged" navbar-base="#/inicio" navbar-options-triggers="['click', 'hover']" navbar-header-title="ChefExpress")
		div(id="viewWrapper" ng-controller="viewCtrl" ng-class="{'loadingContainer': isLoading}" ng-view)