html(ng-app="chefExpressApp")
	head
		title ChefExpress
		base(href="/")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		script(src="bower_components/angular-socket-io/socket.min.js")
		script(src="app/app.js")
		script(src="app/ingredientes/ingredientes.js")
		script(src="app/ingredientes/ingredientes.controller.js")
		script(src="app/ingredientes/ingredientes.factory.js")

	body
		div(ng-view="")
		a(href="#/ingredientes") Ingredientes