doctype html
html(ng-app="chefExpressApp")
	head
		//base(href="/")
		title ChefExpress
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="components/style.css")
		<!--########################## ANGULAR CORE ###########################-->
		script(defer src="bower_components/angular/angular.js")
		script(defer src="bower_components/angular-route/angular-route.min.js")
		<!--###################################################################-->
		
		<!--########################## APP MODULES ############################-->
		script(defer src="app/app.js")
		script(defer src="app/inicio/inicio.js")
		script(defer src="app/ingredientes/ingredientes.js")
		script(defer src="app/recetas/recetas.js")
		script(defer src="app/login/login.js")
		<!--################################################################## -->
		
		<!--######################## APP COMPONENTS ###########################-->
		script(defer src="components/auth/auth.service.js")
		<!--################################################################## -->

		<!--######################## APP CONTROLLERS ##########################-->
		script(defer src="app/inicio/inicio.controller.js")
		script(defer src="app/ingredientes/ingredientes.controller.js")
		script(defer src="app/recetas/recetas.controller.js")
		script(defer src="app/login/login.controller.js")
		<!--###################################################################-->
		
		<!--######################### APP FACTORIES ###########################-->
		script(defer src="app/ingredientes/ingredientes.factory.js")
		script(defer src="app/recetas/recetas.factory.js")
		script(defer serc="app/login/login.factory.js")
		<!--###################################################################-->
		
		<!--######################### APP DIRECTIVES ##########################-->
		script(defer src="app/ingredientes/ingredientes.directive.js")
		<!--###################################################################-->
		
		<!--######################### ANGULAR EXTRAS ##########################-->
		script(defer src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(defer src="bower_components/angular-utils-pagination/dirPagination.js")
		<!--###################################################################-->
	body
		div(ng-view)