html(ng-app="chefExpressApp")
	head
		title ChefExpress
		base(href="/")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/tables-min.css")

		<!--########################## ANGULAR CORE ###########################-->
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.min.js")
		<!--###################################################################-->
		
		<!--########################## APP MODULES ############################-->
		script(src="app/app.js")
		script(src="app/inicio/inicio.js")
		script(src="app/ingredientes/ingredientes.js")
		script(src="app/recetas/recetas.js")
		<!--################################################################## -->
		
		<!--######################## APP CONTROLLERS ##########################-->
		script(src="app/inicio/inicio.controller.js")
		script(src="app/ingredientes/ingredientes.controller.js")
		script(src="app/recetas/recetas.controller.js")
		<!--###################################################################-->
		
		<!--######################### APP FACTORIES ###########################-->
		script(src="app/ingredientes/ingredientes.factory.js")
		script(src="app/recetas/recetas.factory.js")
		<!--###################################################################-->
		
		<!--######################### APP DIRECTIVES ##########################-->
		script(src="app/ingredientes/ingredientes.directive.js")
		<!--###################################################################-->
		
		<!--######################### ANGULAR EXTRAS ##########################-->
		script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(src="bower_components/angular-google-chart/ng-google-chart.js")
		script(src="bower_components/ng-table/ng-table.min.js")
		script(src="bower_components/angular-utils-pagination/dirPagination.js")
		script(type="text/ng-template" )
		<!--###################################################################-->

	body
		div(ng-view="")