div(class="modal" tabindex="-1" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h3 Los siguientes ingredientes serán eliminados
      div(class="modal-body")
        div(class="alert alert-danger")
          span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
          span  Las recetas que utilicen estos ingredientes se verán afectadas
        pre
          ul
            li(ng-repeat="item in selectedItems") {{::item.nombre}}
      div(class="modal-footer")
        button(class="btn btn-danger" ng-click="borrarIngredientesModal.submit(selectedItems)") Borrar
        button(class="btn btn-primary" ng-click="borrarIngredientesModal.hide()") Cancelar