button(ng-click="aa()") aadddç
button(ng-click="getAlergenos()") 21312
table(class="table table-striped table-condensed table-bordered table-hover")
  thead
    tr
      th(class="text-center" colspan="4") Información
      th(class="text-center" colspan="5") Composición
        button(style="float:right;" class="btn btn-primary btn-xs" ng-click="showModal()") Nuevo
    th(class="text-center col-md-3")
      p
        a(href="" ng-click="sort('nombre')") Nombre
      input(type="text" placeholder="Introduce un nombre para filtrar" ng-change="filter()" class="form-control input-sm" ng-model="filtering.nombre" ng-model-options="{debounce: 150}")
    th(class="text-center col-md-2")
      p
        a(href="" ng-click="sort('familia')") Familia
      select(class="form-control input-sm" ng-change="filter()" ng-options="familia.nombre for familia in familias" ng-model="filtering.familia")
        option(selected value="") Todas  
    th(class="text-center") Un
    th(class="text-center") P
    th(class="text-center") % Cons
    th(class="text-center") Conv kg
    th(class="text-center col-md-1")
      a(href="" ng-click="sort('precio')") Precio    
    th(class="text-center col-md-1")
      a(href="" ng-click="sort('calorias')") Calorías    
    th(class="text-center col-md-1")
      a(href="" ng-click="sort('carbohidratos')") Carbohidratos    
    th(class="text-center col-md-1")
      a(href="" ng-click="sort('proteinas')") Proteínas    
    th(class="text-center col-md-1")
      a(href="" ng-click="sort('grasas')") Grasas    
    th(class="text-center col-md-3")
      p
        a(href="" ng-click="sort('alergeno')") Alérgeno
      select(class="form-control input-sm" ng-change="filter()" ng-options="alergeno.nombre for alergeno in alergenos" ng-model="filtering.alergeno")
        option(value="") Todos
      
  tbody(class="text-center")
    tr(dir-paginate="ingrediente in ingredientes | itemsPerPage: max" total-items="total")     
      
      td(ng-click="ingrediente.$editNombre = true")
        span(ng-if="!ingrediente.$editNombre") {{::ingrediente.nombre}}
        div(ng-if="ingrediente.$editNombre")
          input(focus ng-blur="ingrediente.$editNombre = false; updateIngrediente($parent.ingrediente._id, {nombre: ingrediente.nombre})" class="form-control" placeholder="Nombre" type="text" ng-model="ingrediente.nombre")    
      
      td(ng-click="ingrediente.$editFamilia = true")
        span(ng-if="!ingrediente.$editFamilia") {{::ingrediente.familia.nombre}}
        div(ng-if="ingrediente.$editFamilia")
          select(focus ng-blur="ingrediente.$editFamilia = false; updateIngrediente($parent.ingrediente._id, {familia: ingrediente.familia})" required class="form-control input-sm" ng-options="familia.nombre for familia in familias" ng-model="ingrediente.familia")
     
      td(ng-click="ingrediente.$editUnidad = true")
        span(ng-if="!ingrediente.$editUnidad") {{::ingrediente.unidad}}
        div(ng-if="ingrediente.$editUnidad")
          select(focus ng-blur="ingrediente.$editUnidad = false; updateIngrediente($parent.ingrediente._id, {unidad: ingrediente.unidad})" class="form-control" ng-model="ingrediente.unidad")    
            option(value="KG") KG
            option(value="LT") LT
            option(value="man") MAN
            option(value="un") UN
   
      td(ng-click="ingrediente.$editPerecedero = true")
        span(ng-if="!ingrediente.$editPerecedero") {{::ingrediente.perecedero}}
        div(ng-if="ingrediente.$editPerecedero")
          select(focus ng-blur="ingrediente.$editPerecedero = false; updateIngrediente($parent.ingredediente._id, {perecedero: ingrediente.perecedero})" class="form-control input-sm" ng-model="ingrediente.perecedero")
            option(value="No") No
            option(value="Si") Si
      
      td(ng-click="ingrediente.$editPcons = true")
        span(ng-if="!ingrediente.$editPcons") {{::ingrediente.pcons}}
        div(ng-if="ingrediente.$editPcons")
          input(focus ng-blur="ingrediente.$editPcons = false; updateIngrediente($parent.ingrediente._id, {pcons: ingrediente.pcons})" class="form-control input-sm" type="number" ng-model="ingrediente.pcons")            
      
      td(ng-click="ingrediente.$editConversionKg = true")
        span(ng-if="!ingrediente.$editConversionKg") {{::ingrediente.conversionKg}}
        div(ng-if="ingrediente.$editConversionKg")
          input(focus ng-blur="ingrediente.$editConversionKg = false; updateIngrediente($parent.ingrediente._id, {conversionKg: ingrediente.conversionKg})" class="form-control input-sm" type="number" ng-model="ingrediente.conversionKg")
      
      td(ng-click="ingrediente.$editPrecio = true")
        span(ng-if="!ingrediente.$editPrecio") {{::ingrediente.precio}}
        div(ng-if="ingrediente.$editPrecio")
          input(focus ng-blur="ingrediente.$editPrecio = false; updateIngrediente($parent.ingrediente._id, {precio: ingrediente.precio})" class="form-control input-sm" type="number" ng-model="ingrediente.precio")            
      
      td(ng-click="ingrediente.$editCalorias = true")
        span(ng-if="!ingrediente.$editCalorias") {{::ingrediente.calorias}}
        div(ng-if="ingrediente.$editCalorias")
          input(focus ng-blur="ingrediente.$editCalorias = false; updateIngrediente($parent.ingrediente._id, {calorias: ingrediente.calorias})" placeholder="Calorías" class="form-control input-sm" type="number" ng-model="ingrediente.calorias")      
     
      td(ng-click="ingrediente.$editCarbohidratos = true")
        span(ng-if="!ingrediente.$editCarbohidratos") {{::ingrediente.carbohidratos}}
        div(ng-if="ingrediente.$editCarbohidratos")
          input(focus ng-blur="ingrediente.$editCarbohidratos = false; updateIngrediente($parent.ingrediente._id, {carbohidratos: ingrediente.carbohidratos})" placeholder="Carbohidratos" class="form-control input-sm" type="number" ng-model="ingrediente.carbohidratos")      
      
      td(ng-click="ingrediente.$editProteinas = true")
        span(ng-if="!ingrediente.$editProteinas") {{::ingrediente.proteinas}}
        div(ng-if="ingrediente.$editProteinas")
          input(focus ng-blur="ingrediente.$editProteinas = false; updateIngrediente($parent.ingrediente._id, {proteinas: ingrediente.proteinas})" placeholder="Proteinas" class="form-control input-sm" type="number" ng-model="ingrediente.proteinas")      
     
      td(ng-click="ingrediente.$editGrasas = true")
        span(ng-if="!ingrediente.$editGrasas") {{::ingrediente.grasas}}
        div(ng-if="ingrediente.$editGrasas")
          input(focus ng-blur="ingrediente.$editGrasas = false; updateIngrediente($parent.ingrediente._id, {grasas: ingrediente.grasas})" placeholder="Grasas" class="form-control input-sm" type="number" ng-model="ingrediente.grasas")
    
      td(ng-click="ingrediente.$editAlergeno = true")
        span(ng-if="!ingrediente.$editAlergeno") {{::ingrediente.alergenos}}
        div(ng-if="ingrediente.$editAlergeno")
          select(focus multiple ng-blur="ingrediente.$editAlergeno = false; updateIngrediente($parent.ingrediente._id, {alergenos: ingrediente.alergenos})" required class="form-control input-sm" ng-options="alergeno.nombre for alergeno in alergenos" ng-model="ingrediente.alergenos")

dir-pagination-controls(on-page-change="pageChanged(newPageNumber)")