table(class="table table-striped table-condensed table-bordered table-hover")
	thead
		tr
			th(class="text-center" colspan="4") Información
			th(class="text-center" colspan="5") Composición
				button(style="float:right;" class="btn btn-default btn-xs" ng-click="showModal()") 
					b.
						Nuevo
		th(class="text-center col-md-3")
			p
				a(href="" ng-click="sort('nombre')") Nombre
			input(type="text" placeholder="Introduce un nombre para filtrar" ng-change="filter()" class="form-control input-sm" ng-model="filtering.nombre" ng-model-options="{debounce: 150}")
		
		th(class="text-center col-md-2")
			p
				a(href="" ng-click="sort('familia')") Familia
			select(class="form-control input-sm" ng-change="filter()" ng-options="familia for familia in familias" ng-model="filtering.familia")
				option(selected value="") Todas
	
		th(class="text-center col-md-1")
			p
				a(href="" ng-click="sort('estado')") Estado
			select(class="form-control input-sm" ng-change="filter()" ng-options="estado for estado in estados" ng-model="filtering.estado")
				option(value="") Todos
		
		th(class="text-center col-md-1")
			a(href="" ng-click="sort('precio')") Precio
		
		th(class="text-center col-md-1")
			a(href="" ng-click="sort('composicion.calorias')") Calorías
		
		th(class="text-center col-md-1")
			a(href="" ng-click="sort('composicion.carbohidratos')") Carbohidratos
		
		th(class="text-center col-md-1")
			a(href="" ng-click="sort('composicion.proteinas')") Proteínas
		
		th(class="text-center col-md-1")
			a(href="" ng-click="sort('composicion.grasas')") Grasas
		
		th(class="text-center col-md-3")
			p
				a(href="" ng-click="sort('alergeno')") Alérgeno
			select(class="form-control input-sm" ng-change="filter()" ng-options="alergeno for alergeno in alergenos" ng-model="filtering.alergeno")
				option(value="") Todos
	
	tbody
		tr(dir-paginate="ingrediente in ingredientes | itemsPerPage: max" total-items="total")
			
			td(ng-click="ingrediente.$editNombre = true")
				span(ng-if="!ingrediente.$editNombre" ng-bind="ingrediente.nombre")
				div(ng-if="ingrediente.$editNombre")
					input(focus ng-blur="ingrediente.$editNombre = false; actualizarIngrediente($parent.ingrediente._id, 'nombre', ingrediente.nombre)" class="form-control" tooltip="Nombre del ingrediente." tooltip-delay="1000" placeholder="Nombre" type="text" ng-model="ingrediente.nombre")
		
			td(ng-click="ingrediente.$editFamilia = true")
				span(ng-if="!ingrediente.$editFamilia" ng-bind="ingrediente.familia")
				div(ng-if="ingrediente.$editFamilia")
					select(focus ng-blur="ingrediente.$editFamilia = false; actualizarIngrediente($parent.ingrediente._id, 'familia', ingrediente.familia)" tooltip="Familia del ingrediente." tooltip-delay="1000" required class="form-control input-sm" ng-options="familia for familia in familias" ng-model="ingrediente.familia")
			
			td(ng-click="ingrediente.$editEstado = true")
				span(ng-if="!ingrediente.$editEstado" ng-bind="ingrediente.estado")
				div(ng-if="ingrediente.$editEstado")
					select(focus ng-blur="ingrediente.$editEstado = false; actualizarIngrediente($parent.ingrediente._id, 'estado', ingrediente.estado)" tooltip="Estado del ingrediente." tooltip-delay="1000" required class="form-control input-sm" ng-options="estado for estado in estados" ng-model="ingrediente.estado")
			
			td(ng-click="ingrediente.$editPrecio = true")
				span(ng-if="!ingrediente.$editPrecio" ng-bind="ingrediente.precio")
				div(ng-if="ingrediente.$editPrecio")
					input(focus ng-blur="ingrediente.$editPrecio = false; actualizarIngrediente($parent.ingrediente._id, 'precio', ingrediente.precio)" tooltip="Precio del ingrediente por kg de producto." tooltip-delay="1000" class="form-control input-sm" type="number" ng-model="ingrediente.precio")
						
			td(ng-click="ingrediente.$editComposicion = true")
				span(ng-if="!ingrediente.$editComposicion" ng-bind="ingrediente.composicion.calorias")
				div(ng-if="ingrediente.$editComposicion")
					input(focus ng-blur="ingrediente.$editComposicion = false; actualizarIngrediente($parent.ingrediente._id, 'composicion.calorias', ingrediente.composicion.calorias)" tooltip="Calorías por cada 100g de producto." tooltip-delay="1000" placeholder="Calorías" class="form-control input-sm" type="number" ng-model="ingrediente.composicion.calorias")
			
			td(ng-click="ingrediente.$editCarbohidratos = true")
				span(ng-if="!ingrediente.$editCarbohidratos" ng-bind="ingrediente.composicion.carbohidratos")
				div(ng-if="ingrediente.$editCarbohidratos")
					input(focus ng-blur="ingrediente.$editCarbohidratos = false; actualizarIngrediente($parent.ingrediente._id, 'composicion.carbohidratos', ingrediente.composicion.carbohidratos)" tooltip="Carbohidratos por cada 100g de producto." tooltip-delay="1000" placeholder="Carbohidratos" class="form-control input-sm" type="number" ng-model="ingrediente.composicion.carbohidratos")
			
			td(ng-click="ingrediente.$editProteinas = true")
				span(ng-if="!ingrediente.$editProteinas" ng-bind="ingrediente.composicion.proteinas")
				div(ng-if="ingrediente.$editProteinas")
					input(focus ng-blur="ingrediente.$editProteinas = false; actualizarIngrediente($parent.ingrediente._id, 'composicion.proteinas', ingrediente.composicion.proteinas)" tooltip="Proteínas por cada 100g de producto." tooltip-delay="1000" placeholder="Proteinas" class="form-control input-sm" type="number" ng-model="ingrediente.composicion.proteinas")
			
			td(ng-click="ingrediente.$editGrasas = true")
				span(ng-if="!ingrediente.$editGrasas" ng-bind="ingrediente.composicion.grasas")
				div(ng-if="ingrediente.$editGrasas")
					input(focus ng-blur="ingrediente.$editGrasas = false; actualizarIngrediente($parent.ingrediente._id, 'composicion.grasas', ingrediente.composicion.grasas)" tooltip="Grasas por cada 100g de producto." tooltip-delay="1000" placeholder="Grasas" class="form-control input-sm" type="number" ng-model="ingrediente.composicion.grasas")

			td(ng-click="ingrediente.$editAlergeno = true")
				span(ng-if="!ingrediente.$editAlergeno" ng-bind="ingrediente.alergeno")
				div(ng-if="ingrediente.$editAlergeno")
					select(focus ng-blur="ingrediente.$editAlergeno = false; actualizarIngrediente($parent.ingrediente._id, 'alergeno', ingrediente.alergeno)" tooltip="Indicar si el ingrediente contiene algún alérgeno." tooltip-delay="1000" required class="form-control input-sm" ng-options="alergeno for alergeno in alergenos" ng-model="ingrediente.alergeno")
dir-pagination-controls(on-page-change="pageChanged(newPageNumber)")
pre.
	filtering: {{filtering}}
	sorting: {{sorting}}