table(st-table="rowCollection" class="table table-striped")
	thead
	tr
		th Ingrediente
		th Estado
		th Familia
		th Precio (€/Kg)
		th Alergeno
		th
			button(class="btn btn-primary" ng-click="showIngredientesModal()") Nuevo

	tbody
		tr(ng-repeat="ingrediente in ingredientes")
			td {{ingrediente.nombre}}
			td {{ingrediente.estado}}
			td {{ingrediente.familia}}
			td {{ingrediente.precio[0].valor}}
			td {{ingrediente.alergeno}}
			td
				button(type="button" ng-click="showIngredientesModal(ingrediente['_id'])" class="btn btn-default") Editar
			td
				button(type="button" ng-click="borrarIngrediente(ingrediente)" class="btn btn-sm btn-danger")
					i(class="glyphicon glyphicon-remove-circle")
