div(id="modalWrapper")
	div(class="modal-header")
		h3(class="modal-title") Ingrediente
	div(class="modal-body")
		form(name="editIngrediente")
			fieldset(style="width:200px;")
				legend Información
				h4 Nombre
				input(type="text" required ng-model="ingrediente.nombre" placeholder="Nombre del ingrediente" name="nombre")
				h4 Familia
				input(type="text" required ng-model="ingrediente.familia" typeahead="familia for familia in familias | filter:$viewValue | limitTo:8"  placeholder="Introduce la familia" name="familia")
				h4 Estado
				input(type="text" required ng-model="ingrediente.estado" typeahead="estado for estado in estados | filter:$viewValue | limitTo:8" placeholder="Introduce el estado" name="estado")
				h4 Precio
				input(type="number" required min="0" step="any" ng-model="precioIngrediente.valor" placeholder="Precio" name="precio")

			fieldset(style="width:200px;")
				h4 Alérgeno
				select(required ng-options="alergeno.nombre as alergeno.nombre for alergeno in alergenos" ng-model="ingrediente.alergeno")
				legend Composición
				h4 Grasas 
				input(type="number" required ng-change="chartObject.data[1][1]=ingrediente.composicion.grasas" min="0" step="any" ng-model="ingrediente.composicion.grasas" placeholder="Grasas" name="grasas")
				h4 Proteinas
				input(type="number" required ng-change="chartObject.data[2][1]=ingrediente.composicion.proteinas" min="0" step="any" ng-model="ingrediente.composicion.proteinas" placeholder="Proteinas" name="proteinas")
				h4 Carbohidratos
				input(type="number" required ng-change="chartObject.data[3][1]=ingrediente.composicion.carbohidratos" min="0" step="any" ng-model="ingrediente.composicion.carbohidratos" placeholder="Carbohidratos" name="carbohidratos")
				h4 Calorías
				input(type="number" required ng-change="chartObject.data[4][1]=ingrediente.composicion.calorias" min="0" step="any" ng-model="ingrediente.composicion.calorias" placeholder="Calorias" name="calorias")
				div(style="relative:absolute;margin-left:290px;" google-chart chart="chartObject")
				button(type="submit" ng-click="addIngrediente()") Crear

	div(class="modal-footer")
		{{familias}}
		button(form="editIngrediente" class="btn btn-success" ng-disabled="editIngrediente.$invalid" ng-click="ok()") Aceptar
		button(class="btn btn-warning" ng-click="cancel()") Cancelar

{{ingrediente}}
{{precioIngrediente}}