div(class="modal" tabindex="-1" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h3 Nuevo ingrediente {{ingrediente}}
      div(class="modal-body")
        form(id="nuevoIngredienteForm" ng-submit="nuevoIngredienteModal.submit(ingrediente)" class="form-horizontal")
          fieldset
            legend Información
            div(class="form-group")
              label(for="nombreNuevoIngrediente" class="col-sm-2 control-label") Nombre
              div(class="col-sm-10")
                input(required id="nombreNuevoIngrediente" ng-model="ingrediente.nombre" class="form-control input-sm" type="text")
            
            div(class="form-group")
              label(for="familiaNuevoIngrediente" class="col-sm-2 control-label") Familia
              div(class="col-sm-10")
                select(required id="familiaNuevoIngrediente" class="form-control input-sm" ng-options="familia._id as familia.nombre for familia in data.familias" ng-model="ingrediente.familia")
                  option(value="") -- Selecciona una familia --
            
            div(class="form-group")  
              label(for="precioNuevoIngrediente" class="col-sm-2 control-label") Precio
              div(class="col-sm-10")
                input(required id="precioNuevoIngrediente" class="form-control input-sm" min="0" max="10000" type="number" step="any" ng-model="ingrediente.precio")
            
            div(class="form-group")
              div(class="col-sm-10")
                label(for="unidadNuevoIngrediente" class="control-label") Unidad
                div(id="unidadNuevoIngrediente" class="btn-group" ng-model="ingrediente.unidad" bs-radio-group)
                  label(class="btn btn-default") Kilo
                    input(type="radio" class="btn btn-default" value="KG")
                  label(class="btn btn-default") Litro
                    input(type="radio" class="btn btn-default" value="LT")
                  label(class="btn btn-default") Manojo
                    input(type="radio" class="btn btn-default" value="MAN")
                  label(class="btn btn-default") Unidad
                    input(type="radio" class="btn btn-default" value="UN")

            div(class="form-group")
              div(class="col-sm-10")
                label(for="perecederoNuevoIngrediente" class="control-label") Perecedero
                div(id="perecederoNuevoIngrediente" class="btn-group" ng-model="ingrediente.perecedero" bs-radio-group)
                  label(class="btn btn-default") Si
                    input(type="radio" class="btn btn-default" value="Si")
                  label(class="btn btn-default") No
                    input(type="radio" class="btn btn-default" value="No")
            
            div(class="form-group")  
              label(for="precioNuevoIngrediente" class="col-sm-2 control-label") % Cons
              div(class="col-sm-10")
                input(required id="pconsNuevoIngrediente" class="form-control input-sm" min="0" max="1" type="number" step="any" ng-model="ingrediente.pcons")
            
            div(class="form-group")  
              label(for="precioNuevoIngrediente" class="col-sm-2 control-label") Conv kg
              div(class="col-sm-10")
                input(required id="conversionKgNuevoIngrediente" class="form-control input-sm" min="0" max="100" type="number" step="any" ng-model="ingrediente.conversionKg")
          
          fieldset
            legend Composición
            
            div(class="form-group")  
              label(for="caloriasNuevoIngrediente" class="col-sm-2 control-label") Calorias
              div(class="col-sm-10")
                input(required id="caloriasNuevoIngrediente" class="form-control input-sm" min="0" max="10000" type="number" step="any" ng-model="ingrediente.calorias")
            
            div(class="form-group")  
              label(for="proteinasNuevoIngrediente" class="col-sm-2 control-label") Proteinas
              div(class="col-sm-10")
                input(required id="proteinasNuevoIngrediente" class="form-control input-sm" min="0" max="10000" type="number" step="any" ng-model="ingrediente.proteinas")
            
            div(class="form-group")  
              label(for="carbohidratosNuevoIngrediente" class="col-sm-2 control-label") Carbohidratos
              div(class="col-sm-10")
                input(required id="carbohidratosNuevoIngrediente" class="form-control input-sm" min="0" max="10000" type="number" step="any" ng-model="ingrediente.carbohidratos")
            
            div(class="form-group")  
              label(for="grasasNuevoIngrediente" class="col-sm-2 control-label") Grasas
              div(class="col-sm-10")
                input(required id="grasasNuevoIngrediente" class="form-control input-sm" min="0" max="10000" type="number" step="any" ng-model="ingrediente.grasas")
           
            div(class="form-group")
              label(for="intoleranciaNuevoIngrediente" class="col-sm-2 control-label") Intolerancias
              div(class="col-sm-10")
                select(multiple id="intoleranciaNuevoIngrediente" class="form-control input-sm" ng-options="intolerancia._id as intolerancia.nombre for intolerancia in data.intolerancias" ng-model="ingrediente.intolerancias")
             
             div(class="form-group")
               label(for="alergenoNuevoIngrediente" class="col-sm-2 control-label") Alérgenos
               div(class="col-sm-10")
                 select(multiple id="alergenoNuevoIngrediente" class="form-control input-sm" ng-options="alergeno._id as alergeno.nombre for alergeno in data.alergenos" ng-model="ingrediente.alergenos")

      div(class="modal-footer")
        input(class="btn btn-primary" form="nuevoIngredienteForm" type="submit" value="Aceptar")
        button(class="btn btn-warning" ng-click="nuevoIngredienteModal.hide()") Cancelar