{{recetas}}
table(ng-table="tablaRecetas" class="table table-striped table-condensed table-bordered")
  thead
    th(class="text-center")
      p
        a(href="" ng-click="sort('nombre')") Nombre
      input(type="text" ng-change="filter()" class="form-control input-sm" ng-model="$parent.filtering.nombre" ng-model-options="{debounce: 150}")
      
    th(class="text-center")
      p
        a(href="" ng-click="sort('familia')") Familia
      select(class="form-control input-sm" ng-change="filter()" ng-options="familia for familia in familias" ng-model="$parent.filtering.familias")
        option(value="" ng-click="a()") Todos
    th Categoria
    th Ambito
    th Precios
  tbody
    tr(ng-click="a()" ng-repeat="receta in $data")
      td {{receta.nombre}}
      td {{receta.familia}}
      td {{receta.categoria}}
      td {{receta.ambito}}
      td {{receta.precios}}

pre.
  filtering: {{filtering}}
  sorting: {{sorting}}