style.
  .clickable {
    cursor: pointer;
  }
  .dropdown-menu{
    cursor:pointer;
  }

div(class="row")
  div(id="ingredientesWrapper" class="col-md-8")
    table(class="table table-striped table-condensed table-bordered table-hover" )
      thead
        tr
          th(class="text-center" colspan="3") 
            b
              h4(ng-if="!receta.$editNombre" ng-click="receta.$editNombre = true") {{::receta.nombre}}
            div(ng-if="receta.$editNombre")
              input(focus type="text" ng-model="receta.nombre" class="form-control text-center input-lg" ng-blur="receta.$editNombre = false; updateReceta($parent.receta._id, {field: 'nombre', value: receta.nombre})")
          th(colspan="3")
            input(type="text" placeholder="Búsqueda por nombre" ng-model="ingredienteSeleccionado" ng-change="getIngredientes(ingredienteSeleccionado)" ng-model-options="{debounce: 200}" typeahead="ingrediente.nombre for ingrediente in ingredientes | filter:{nombre:$viewValue} | limitTo:max" typeahead-on-select="addIngrediente($item)" typeahead-wait-ms="200" class="form-control input-md")
        th(class="text-center col-md-6") Ingredientes
        th(class="text-center col-md-1") Cantidad
        th(class="text-center col-sm-1") %
        th(class="text-center col-md-1") Unidad
        th(class="text-center col-md-1") Precio
        th(class="text-center col-md-1") Total
      tbody(style="height:450px;overflow:auto;")
        tr(ng-repeat="ingredienteReceta in receta.ingredientes track by $index" )
          td(class="clickable" ng-click="removeIngrediente(ingredienteReceta, $index)") {{::ingredienteReceta.ingrediente.nombre}}
          
          td(class="clickable" ng-click="ingredienteReceta.$editCantidad = true")
            div(ng-if="!ingredienteReceta.$editCantidad") 
              span(ng-if="ingredienteReceta.cantidad<1") {{::(ingredienteReceta.cantidad*1000).toFixed(0)}} g
              span(ng-if="ingredienteReceta.cantidad>=1") {{::ingredienteReceta.cantidad}} kg
            div(ng-if="ingredienteReceta.$editCantidad")
              input(focus ng-blur="ingredienteReceta.$editCantidad = false; updateIngrediente(ingredienteReceta, $index)" ng-model="$parent.ingredienteReceta.cantidad" step="0.01" min="0" class="form-control input-sm" type="number" ng-change="calcularTotal()")
          td 
            b {{(ingredienteReceta.cantidad*100/receta.cantidad).toFixed(1)}}
         
          td Unidad
          
          td {{::ingredienteReceta.ingrediente.precio.toFixed(2)}} €
            
          td 
            b {{(ingredienteReceta.cantidad*ingredienteReceta.ingrediente.precio).toFixed(2)}} €
    
  
  div(id="clasificacionWrapper" class="col-md-2")
    table(class="table table-bordered table-condensed")
      th(class="text-center")
        h4 Clasificación
      tr(class="text-center")
        td
          b Raciones 
            input(class="form-control" ng-model="receta.raciones" ng-blur="updateReceta(receta._id, {field: 'raciones', value: receta.raciones})" type="number" min="1" placeholder="Nº raciones")
      
      tr(class="text-center")
        td
          b Ámbito
            select(class="form-control input-sm" ng-model="receta.ambito" ng-options="ambito for ambito in ambitos" ng-change="updateReceta(receta._id, {field: 'ambito', value: receta.ambito})")
              option(selected value="") Todos
      tr(class="text-center")
        td 
          b Categoría
            select(class="form-control input-sm" ng-options="categoria for categoria in categorias" ng-change="updateReceta(receta._id, {field: 'categoria', value: receta.categoria})" ng-model="receta.categoria")
              option(selected value="") Todos
      tr(class="text-center")
        td 
          b Familia
            select(class="form-control input-sm" ng-options="familia for familia in familias" ng-change="updateReceta(receta._id, {field: 'familia', value: receta.familia})" ng-model="receta.familia")
              option(selected value="") Todos
      tr(class="text-center")
        td 
          b Procedencia
            select(class="form-control input-sm" ng-options="procedencia for procedencia in procedencias" ng-change="updateReceta(receta._id, {field: 'procedencia', value: receta.procedencia})" ng-model="receta.procedencia")
              option(selected value="") Todos
      tr(class="text-center")
        td 
          b Tipo
            select(class="form-control input-sm" ng-options="tipo for tipo in tipos" ng-change="updateReceta(receta._id, {field: 'tipo', value: receta.tipo})" ng-model="receta.tipo")
              option(selected value="") Todos

div(class="row2")
  
  div(id="peligrosWrapper" class="col-sm-8")
    table(class="table table-condensed table-bordered text-center")
      thead
        th(class="text-center") Peligros acerca de los ingredientes
        th(class="text-center") Peligros en el desarrollo
        th(class="text-center") Medidas preventivas
      tbody
        tr
          td a
          td b
          td c
  div(id="resumenWrapper" class="col-sm-2")
      table(class="table table-condensed table-bordered text-center")
        thead
          td
          td
            b Precio
          td
            b Cantidad
        tbody
          tr
            td 
              b Ración
            td 
              {{(receta.precio/receta.raciones).toFixed(2)}} € 
            td
              span(ng-if="receta.cantidad/receta.raciones<1") {{(receta.cantidad/receta.raciones).toFixed(2)*1000}} g
              span(ng-if="receta.cantidad/receta.raciones>=1") {{(receta.cantidad/receta.raciones).toFixed(2)}} kg
          tr
            td
              b Total
            td {{receta.precio.toFixed(2)}} €
            td(class="text-center")
              span(ng-if="receta.cantidad<1") {{receta.cantidad.toFixed(2)*1000}} g
              span(ng-if="receta.cantidad>=1") {{receta.cantidad.toFixed(2)}} kg
