table(class="table table-striped table-condensed table-bordered")
  thead
    tr
      th(class="text-center col-md-3")
        p
          a(href="" ng-click="sort('nombre')") Nombre

      th(class="text-center col-md-2")
        p
          a(href="" ng-click="sort('familia')") Familia
        select(class="form-control input-sm" ng-change="filter()" ng-options="familia for familia in familias" ng-model="filtering.familia")
          option(selected value="") Todas
  
  tr(dir-paginate="receta in recetas | itemsPerPage: max" total-items="total")
    td {{receta.nombre}}
    td {{receta.familia}}
dir-pagination-controls(on-page-change="pageChanged(newPageNumber)")

{{filtering}}