style.
  .clickable {
    cursor: pointer;
  }
  .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
  }

div(class="row")
  div(id="tableContainer" class="col-md-8")
    table(class="table table-striped table-condensed table-bordered")
      thead
        tr
          th(class="text-center" colspan="6") 
            b
              h4(ng-if="!receta.$editNombre" ng-click="receta.$editNombre = true") {{receta.nombre}}
            div(ng-if="receta.$editNombre")
              input(focus type="text" ng-model="receta.nombre" class="form-control text-center input-lg" ng-blur="receta.$editNombre = false")
        th Ingredientes
        th Cantidad
        th %
        th Unidad
        th Precio
        th Total
      tbody
        tr(ng-repeat="ingredienteReceta in receta.ingredientes")
          td {{ingredienteReceta.nombre}}
          td {{ingredienteReceta.cantidad}}
          td %
          td Unidad
          td {{ingredienteReceta.precio}}
          td total
input(type="text" ng-model="ch" typeahead="ingrediente.nombre for ingrediente in getIngredientes2($viewValue) | filter:$viewValue | limitTo:15" typeahead-wait-ms="80" class="form-control input-md")
{{ch}}
{{ingredientes}}