style.
  .clickable {
    cursor: pointer;
  }
  .dropdown-menu{
    cursor:pointer;
  }

div(class="row")
  div(id="ingredientesWrapper" class="col-md-8")
    table(class="table table-condensed table-bordered table-hover" )
      thead(class="text-center")
        tr
          td(colspan="4") 
            b
              h4(ng-if="!data.receta.$editNombre" ng-click="data.receta.$editNombre = true") {{::data.receta.nombre}}
            div(ng-if="data.receta.$editNombre")
              input(focus type="text" id="buscador" ng-model="data.receta.nombre" class="form-control text-center input-lg" ng-blur="data.receta.$editNombre = false; updateReceta($parent.data.receta._id, {field: 'nombre', value: data.receta.nombre})")
          td(colspan="2")
            b
              input(type="text" placeholder="Búsqueda por nombre" ng-model="typeahead.ingredienteSeleccionado" ng-change="typeahead.getIngredientes(typeahead.ingredienteSeleccionado)" ng-model-options="{debounce: 200}" typeahead="ingrediente.nombre for ingrediente in typeahead.ingredientes | filter:{nombre:$viewValue} | limitTo: typeahead.max" typeahead-on-select="typeahead.addIngrediente($item)" typeahead-wait-ms="200" class="form-control input-md")
        td(class="col-md-6") 
          b Ingredientes
          &nbsp
          span(class="badge") {{data.receta.ingredientes.length}}
        td(class="col-md-1") 
          b Cantidad
        td(class="col-sm-1")
          b %
        td(class="col-md-1") 
          b Unidad
        td(class="col-md-1") 
          b Precio
        td(class="col-md-1") 
          b Total
      tbody(style="height:450px;overflow:auto;")
        tr(ng-repeat="ingredienteReceta in data.receta.ingredientes")
          td(class="clickable" ng-click="removeIngrediente(ingredienteReceta, $index)") {{::ingredienteReceta.ingrediente.nombre}}
          
          td(class="clickable text-center" ng-click="ingredienteReceta.$editCantidad = true")
            div(ng-if="!ingredienteReceta.$editCantidad") 
              span(ng-if="ingredienteReceta.cantidad<1") {{::(ingredienteReceta.cantidad*1000).toFixed(0)}} g
              span(ng-if="ingredienteReceta.cantidad>=1") {{::ingredienteReceta.cantidad}} kg
            div(ng-if="ingredienteReceta.$editCantidad")
              input(focus ng-blur="ingredienteReceta.$editCantidad = false; updateIngrediente(ingredienteReceta, $index)" ng-model="$parent.ingredienteReceta.cantidad" step="0.01" min="0" class="form-control input-sm" type="number" ng-change="calcularTotal()")
          td(class="text-center")
            b {{(ingredienteReceta.cantidad*100/data.receta.cantidad).toFixed(1)}}
         
          td(class="text-center") {{::ingredienteReceta.ingrediente.unidad}}
          
          td(class="text-center") {{::ingredienteReceta.ingrediente.precio.toFixed(2)}} €
            
          td(class="text-center") 
            b {{(ingredienteReceta.cantidad*ingredienteReceta.ingrediente.precio).toFixed(2)}} €

  
  div(id="informacionWrapper" class="col-md-2")
    table(class="table table-bordered table-condensed")
      thead(class="text-center")
        tr
          td(colspan="2")
            h4 Información
      tbody(class="text-center")
        tr
          td
            b Tratamiento
              select(class="form-control input-sm" ng-model="data.receta.tratamiento" ng-options="tratamiento for tratamiento in tratamientos" ng-change="updateReceta(data.receta._id, {field: 'tratamiento', value: data.receta.tratamiento})")
                option(selected value="") Ninguno
          td
            b Ámbito
              select(class="form-control input-sm" ng-model="data.receta.ambito" ng-options="ambito for ambito in ambitos" ng-change="updateReceta(data.receta._id, {field: 'ambito', value: data.receta.ambito})")
                option(selected value="") Todos      
        tr
          td 
            b Familia
              select(class="form-control input-sm" ng-options="familia for familia in familias" ng-change="updateReceta(data.receta._id, {field: 'familia', value: data.receta.familia})" ng-model="data.receta.familia")
                option(selected value="") Todos
          td 
            b Categoría
              select(class="form-control input-sm" ng-options="categoria for categoria in categorias" ng-change="updateReceta(data.receta._id, {field: 'categoria', value: data.receta.categoria})" ng-model="data.receta.categoria")
                option(selected value="") Todos
         
          
        tr(class="text-center")
          td 
            b Procedencia
              select(class="form-control input-sm" ng-options="procedencia for procedencia in procedencias" ng-change="updateReceta(data.receta._id, {field: 'procedencia', value: data.receta.procedencia})" ng-model="data.receta.procedencia")
                option(selected value="") Todos
          td 
            b Tipo
              select(class="form-control input-sm" ng-options="tipo for tipo in tipos" ng-change="updateReceta(data.receta._id, {field: 'tipo', value: data.receta.tipo})" ng-model="data.receta.tipo")
                option(selected value="") Todos
      tfoot
        tr
          td(colspan="2" class="text-center")
            b Raciones 
              input(class="form-control" ng-model="data.receta.raciones" ng-blur="updateReceta(data.receta._id, {field: 'raciones', value: data.receta.raciones})" type="number" min="1" required placeholder="Nº raciones")
          
div(class="row")
  
  div(class="col-sm-2")
    table(class="table table table-condensed")
      thead
        td
          b Medidas preventivas
          &nbsp
          span(class="badge") {{data.receta.medidasPreventivas.length}}
      tbody
        tr(ng-repeat="medidaPreventiva in data.receta.medidasPreventivas")
          td
            {{medidaPreventiva.nombre}} 
  div(class="col-sm-2")  
    table(class="table table table-condensed")
      thead
        td
          b Peligros desarrollo
          &nbsp
          span(class="badge") {{data.receta.peligrosDesarrollo.length}}
      tbody
        tr(ng-repeat="peligroDesarrollo in data.receta.peligrosDesarrollo")
          td
            {{peligroDesarrollo.nombre}} 
  div(class="col-sm-2")
    table(class="table table table-condensed")
      thead
        td
          b Peligros ingredientes
          &nbsp
          span(class="badge") {{data.receta.peligrosIngredientes.length}}
      tbody
        tr(ng-repeat="peligroIngredientes in data.receta.peligrosIngredientes")
          td
            {{peligroIngredientes.nombre}} 
  div(class="col-sm-2")
    table(class="table table table-condensed")
      thead
        td
          b Alérgenos
          &nbsp
          span(class="badge") {{data.receta.alergenos.length}}
      tbody
        tr(ng-repeat="alergeno in data.receta.alergenos")
          td
            {{alergeno}} 

  div(id="resumenWrapper" class="col-sm-2")
      table(class="table table-condensed table-bordered text-center")
        thead
          td
          td
            b Precio
          td
            b Cantidad
        tbody
          tr
            td 
              b Ración
            td 
              {{(data.receta.precio/data.receta.raciones).toFixed(2)}} € 
            td
              span(ng-if="data.receta.cantidad/data.receta.raciones<1") {{(data.receta.cantidad/data.receta.raciones).toFixed(2)*1000}} g
              span(ng-if="data.receta.cantidad/data.receta.raciones>=1") {{(data.receta.cantidad/data.receta.raciones).toFixed(2)}} kg
          tr
            td
              b Total
            td(class="success") {{data.receta.precio.toFixed(2)}} €
            td(class="text-center")
              span(ng-if="data.receta.cantidad<1") {{data.receta.cantidad.toFixed(2)*1000}} g
              span(ng-if="data.receta.cantidad>=1") {{data.receta.cantidad.toFixed(2)}} kg
  
  div(id="composicionWrapper" class="col-sm-3")
    table(class="table table-bordered table-condensed")
      thead(class="text-center")
        td 
          b Calorías
        td 
          b Grasas
        td 
          b Proteínas
        td 
          b Carbohidratos
      tbody(class="text-center")
        tr 
          td
            {{(compTotal.calorias/data.receta.raciones).toFixed(0)}}
          td
            {{(compTotal.grasas/data.receta.raciones).toFixed(0)}}
          td
            {{(compTotal.proteinas/data.receta.raciones).toFixed(0)}}
          td
            {{(compTotal.carbohidratos/data.receta.raciones).toFixed(0)}}
