html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.dropdownOptions {
  width: inherit;
  border: 1px solid #7F9DB9;
  background: white;
  border-radius: 1px;
  list-style-type: none; 
  text-align: left; 
  position:absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.enabled {
  border-radius: 1px;
  padding-left: 5px; 
  padding-right: 5px;
  cursor: pointer;
  color:white;
  font: bold;
  background: #428BCA;
}

.disabled {
  border-radius: 1px;
  padding-left: 5px; 
  padding-right: 5px;
  cursor: pointer;
  background: default;
}

.disabled:hover {
  background: #DEDEDE;
  color:black;
  font: bold;
  opacity: 0.9;
}

.enabled:hover {
  background: #309EC9;
  color: white;
  font: bold;
}

.dropdown {
  width: 100%;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 1px;
  font-size: 12px;
}

#viewWrapper {

}

/* ######################################################## */
/* ########################## VIEW ######################## */
/* ######################################################## */
  
  /* ######################## WRAPPER ####################### */

  .loadingContainer {
    opacity: 0.4;
    pointer-events: none;
  }

  #viewWrapper {
  }

  /* ######################################################## */


  /* ######################################################## */
  /* ###################### MENU INICIO ##################### */
  /* ######################################################## */

    /* ################## WRAPPER ################## */

    #wrapper-menu-inicio {
      
    }

    #menu-inicio {
      position: absolute;
      top: 20%;
      left: 0px;
      bottom: 0px;
      right: 0px;
      width: 35%;
      margin: auto;
      padding: 0;
      
    }
    
    /* ################# OPCIONES ################## */
    
    .opcion-inicio {
      background: #2f2f2f;
      color: white;
      font-size: 2em;
    }

    .opcion-inicio:hover {
      color: #337ab7;
      cursor: pointer;
    }


    .opcion-inicio > div > span.glyphicon-chevron-right {
      font-size: 2.5vw;
      left: 95%;
      margin: 20px;
    }
    
    /* ############################################# */

/* ######################################################## */

/* ######################################################## */
/* ######################## NAVBAR ######################## */
/* ######################################################## */

  /* ################## WRAPPER ################## */

  #navbar-wrapper {
    width: 100%;
  }

  #navbar-container {
    border-bottom: 1px;
    border-radius: 1px;
    background: #2f2f2f;
    height: 56px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  /* ################### HEADER ################## */
  
  #navbar-header {
    display: inline-block;
  }
  
  #navbar-header-options {
    display: inline-block;
  }
  
  #navbar-header-options {
    display: inline-block;
  }

  #navbar-header-title {
    padding-left: 5px;
    display: inline-block;
  }

  #navbar-header-title > h3 > a {
    color: white;
    text-decoration: none;
  }

  #navbar-header-title > h3 > a:hover {
    color: #337ab7;
  }

  /* #################### BODY ################### */
  
  #navbar-body {
    display: inline-block;
  }

  #navbar-body-title {
    display: inline-block;
    color: white;
  }

  #navbar-body-options {
    display: inline-block;
  }

  /* ################## DROPDOWN ################# */
  
  .navbar-dropdown {
    position: absolute;
    min-width: 121px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
    font-size: 15px;
    margin-left: -55px;
    background-color: #fff;
    border: 1px
    solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px
    rgba(0, 0, 0, .175); 
  }

  .navbar-dropdown > div:focus,
  .navbar-dropdown > div:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .navbar-dropdown > div > a {
    text-decoration: none;
    padding: 3px 20px;
    display: block;
    color: black;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .navbar-selectable {
    display: inline-block;
  }
  
  .navbar-selectable:hover {
    color: #337ab7;
    cursor: pointer;
  }

  .navbar-icon-dropdown {
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    height: 100%;
    color: white;
  }

  .navbar-icon-dropdown:hover {
    color: #337ab7;
  }

 
  /* ############################################# */

.table-input {
  height: 20px;
  padding: 0px 0px;
  width: 100%;
  border-radius: 1px;
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.selectedRow,
.selectedRow:active {
  background-color: #337ab7 !important;
  color: white;
}

.selectedRow:hover {
  background-color: #5C95C5 !important;
}

.rowSelector {
  cursor: pointer;
}


/*
table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; 
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

tfoot td {
    width: 100%;
    display: inline-block;
}
*/