html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}


.loadingContainer {
  opacity: 0.4;
}

.enabled {
  border-radius: 1px;
  padding-left: 5px; 
  padding-right: 5px;
  cursor: pointer;
  color:white;
  font: bold;
  background: #428BCA;
}

.disabled {
  border-radius: 1px;
  padding-left: 5px; 
  padding-right: 5px;
  cursor: pointer;
  background: default;
}

.disabled:hover {
  background: #DEDEDE;
  color:black;
  font: bold;
  opacity: 0.9;
}

.enabled:hover {
  background: #309EC9;
  color: white;
  font: bold;
}

.dropdown {
  width: 100%;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 1px;
  font-size: 12px;
}

.dropdownOptions {
  width: inherit;
  border: 1px solid #7F9DB9;
  background: white;
  border-radius: 1px;
  list-style-type: none; 
  text-align: left; 
  position:absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
}
.navbar-container {
  position: relative;
  top: 20%;
  border-bottom: 1px;
  border-radius: 1px;
  background: #2f2f2f;
  height: 56px;
}

.navbar-title {
  position: relative;
  color: white;
  font: bold;
}

.navbar-header {
  top: 30%;
  height: 100%;
}
.navbar-header-element {
  font-size: 1.4em;
  color: white;
  cursor: pointer;
  padding-left: 4px;
}

.navbar-header-element:hover {
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;

}
.navbar-links {
  top: 5%;
}

.navbar-element {
  color: white;
  cursor: pointer;
}

.navbar-element:hover {
  background: #444444;
}

.dropdownIcon {
  display: inline-block;
  width: 0;
  height: 0;
  float: right;
  margin-right: 2%;
  margin-top: 5px;
  border-top: 4px solid #333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
}

/*
.form-control {
  height: 20px;
  padding: 0px 0px;
  width: 100%;
  border-radius: 1px;
}
*/

.table-input {
  height: 20px;
  padding: 0px 0px;
  width: 100%;
  border-radius: 1px;
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu-inicio {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 45%;
}

#wrapper-menu-inicio {
  
}

.opcion-inicio:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.opcion-inicio {
}

.opcion-inicio > div > span.glyphicon-chevron-right {
  font-size: 2.5vw;
  left: 95%;
}